<div class="container">
  <div class="container">
    <h2 id="sponsor-header">WDI Conf Sponsorship</h2>
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">1</h2>
          <h5 class="value-heading">WDI Conf</h5>
          <p class="value-description">Engage with relevent industry proffessionals.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">2</h2>
          <h5 class="value-heading">Sponsor WDI Conf</h5>
          <p class="value-description">Build strong brand relationships with attendees by directly impacting the ticket price and their out of pocket expenses.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">3</h2>
          <h5 class="value-heading">WDI Conf</h5>
          <p class="value-description">Participate actively on the day and have your brand recognised for their contributions.</p>
        </div>
      </div>
    </div>
  <div class="sponsorship-container">
    <form action="/sponsors/submit" method="post" id="payment-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <section class="accountInformation">
        <h4>Sponsor Information</h4>
        <ul>
          <li>
            <div class="col-span-50">
              <input type="text" id="acctFirstName" name="company_name" value="" placeholder="Company Name" />
            </div>
            <div class="col-span-50">
              <input type="text" id="acctLastName" name="website" value="" placeholder="Website URL" />
            </div>
          </li>
          <li>
            <div class="col-span-50">
              <input type="text" id="acctFirstName" name="first_name" minlength="2" placeholder="First Name" />
            </div>
            <div class="col-span-50">
              <input type="text" id="acctLastName" name="last_name" value="" minlength="2" placeholder="Last Name" />
            </div>
          </li>
          <li>
            <div class="col-span-50">
              <input type="text" id="acctEmail" name="email" value="" placeholder="Email" />
            </div>
            <div class="col-span-50">
              <input type="text" id="acctEmail" name="image_url" value="" placeholder="URL to Logo Image" />
            </div>
          </li>
          <li>
            <div class="col-span-50">
              <input type="text" name="amount" placeholder="Sponsorship Amount">
            </div>
          </li>
        </ul>
      </section>
      <span class="payment-errors"></span>
      <section class="paymentInformation">
        <h3>Payment Information</h3>
        <ul>
          <li>
            <div class="col-span-100">
              <input type="text" data-stripe="number" id="cardNumber" size="20" name="cardNumber" placeholder="Credit Card #" />
            </div>
          </li>
          <li>
            <div class="col-span-50">
              <input type="text" data-stripe="exp_month" id="expMonth" size="2" name="expMonth" placeholder="Expiration Month (MM)" />
            </div>
            <div class="col-span-50">
              <input type="text" data-stripe="exp_year" id="expMonth" size="2" name="expMonth" placeholder="Expiration Year (YY)" />
            </div>
          </li>
          <li>
            <div class="col-span-50">
              <input type="text" size="4" data-stripe="cvc" id="securityCode" name="securityCode" placeholder="CVC Security Code" />
            </div>
            <div class="col-span-50">
              <div class="smallPrint whatIsThis">
              <img src="http://s.cdpn.io/6209/cc_Icon.png" /></div>
            </div>
          </li>
          <li>
            <div class="col-span-100">
              <input type="submit" class="btn" value="Submit Payment">
            </div>
          </li>
        </ul>
    </section>
    </form>
  </div>
</div>

<!-- modal -->
<div id="processing-notice" class="modal">
  <div class="modal-content">
    <p>Please wait while we are processing your payment ...</p>
  </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
$(function(){
  var $select = $(".1-10");
    for (i=1;i<=10;i++){
    $('#num_of_tickets').append($('<option></option>').val(i).html(i));
    console.log('THANK YOU FOR YOUR CASH MONEY');
  }
});
$("#num_of_tickets").change(function(){
  $('#amount').html($(this).val()*200);
});
Stripe.setPublishableKey('pk_test_r8NTA6dpseAgBXLp56mMQgGA');</script>

