<div class="events-container">
  <div class="container">
    <hr id="four" data-symbol="EVENTS">
    <div class="row row-event">
      <div class="one-half column">
        <h3>Doughnuts at dawn</h3>
        <h4>Friday 27th May</h4>
        <p>
          Before settling in for two days of conference action, <span class="bolded">ThoughtWorks</span> would like to treat all attendees to a breakfast feast. Our keynote speakers will probably be hanging by the doughnuts table if you want to chat, otherwise you'll be able to meet the other conference go-ers.
        </p><br>
        <p class="bolded">
          Drinks and cheese starts 7PM
          ThoughtWorks 111 Smith St
          Melbourne, 3000
        </p>
      </div>

      <div class="one-half column">
        <img class="event-photo" id="event-one" src="" alt="" />
      </div>
    </div>


      <div class="row row-event">
        <div class="one-half column">
          <img class="event-photo" id="event-two" src="" alt="" />
        </div>

        <div class="one-half column">
          <h3>Keynote: Contributing to open source as a junior</h3>
          <h4>Friday 27th May, 9AM</h4>
          <p>
            For those starting out in the software development world, contributing to open source projects can feel pretty out of reach and intimidating. Your inner monologue might sound something like, 'what if people laugh at my PR's?' or 'how do I even start to understand such a large codebase?'. Pranati will be addressing some fundamental questions on how the open source world works, and how you can actually enhance your learning journey by reading and contributing to open source projects.
          </p><br>
          <p class="bolded">
            Starts 9AM sharp in main conference theatre
          </p>
        </div>
      </div>

      <div class="row row-event">
        <div class="one-half column">
          <h3>You code like a girl. Good for you!</h3>
          <h4>Friday 27th May, 10AM</h4>
          <p>
            LJ, head of engineering at Oz Hip Hop discusses the benefits of diversity in teams. It has been scientifically proven that teams made up of members from diverse backgrounds outperform teams of a more homogenous demographic, and LJ explores this topic with experience running her own teams. You will learn how you can attract a diverse team, and how creating a culture of inclusiveness and understanding will get amazing results for your business.
          </p><br>
          <p class="bolded">
            Read more on <a href="http://www.ozhiphop.com/">LJ's blog here</a>.
          </p>
        </div>

        <div class="one-half column">
          <img class="event-photo" id="event-three" src="" alt="" />
        </div>
      </div>

  </div>

</div>
