  <!-- hero-container is for the entire hero section -->

<div class="hero-container">
<div class="progress-wrapper">
<div class="progressbar">
    <div class="stylization"></div>
  </div>
 
</div>

    <div id="hero-conf-info-container">
<ul id='hero-conf-info-list' class="hero-conf-info">
    <li><h2>MELBOURNE</h2></li>
    <li><div class="hero-circle"><h1>WDI Conf</h1></div></li>
    <li><h2>GENERAL ASS</h2></li>
</ul>
</div>

</div>
<!-- </div> -->