<!-- Payment Confirmation  -->
<div class= "notice">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
</div>

<!-- END Payment Confirmation  -->
<div class="hero-container">
  <div class="container">
    <div class="row">
      <div class="one-half column chart-wrapper">
        <!-- chart code -->
          <div class="o-progress-circle o-progress-circle--rounded">
            <div class="o-progress-circle__number">
              <span data-pourcent><%= @progress %></span><em>%</em>
            </div>
            <div class="o-progress-circle__fill">
              <svg class="icon" viewBox="0 0 40 40">
                <circle r="15.9154943092" cy="20" cx="20" />
                  <circle r="15.9154943092" cy="20" cx="20" stroke-dashoffset="25" transform="rotate(-90,20,20)" />
                </svg>
            </div>
          </div>
        <!-- end of chart code -->
      </div>
      <div class="one-half column">
        <p>
          WDI Conf 2016
        </p>
        <p>
          Melbourne, 28th June
        </p>
      </div>
    </div>
  </div>
</div>
