<!-- Payment Confirmation  -->
<div class= "notice">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
</div>

<!-- END Payment Confirmation  -->
<div class="hero-container">
  <div class="container">
    <div class="row">
      <div class="one-half column chart-wrapper">
        <!-- chart code -->
        <span id="progress" style="display:none"><%= @progress %></span>
          <div id="progresschart">

          </div>

          <!-- <div class="o-progress-circle o-progress-circle--rounded">
            <div class="o-progress-circle__number">
              <span id="progress-percent" data-percent><%= @progress %></span>
              <p>$<%= @current_price %>*</p>
              <span class="sub-text">Current ticket price</span>
            </div>
            <div class="o-progress-circle__fill">
              <svg class="icon" viewBox="0 0 40 40">
                <circle r="15.9154943092" cy="20" cx="20" />
                  <circle r="15.9154943092" cy="20" cx="20" stroke-dashoffset="25" transform="rotate(-90,20,20)" />
                </svg>
            </div>
          </div> -->
        <!-- end of chart code -->
      </div>
      <div class="one-half column header-info">
        <h1>WDI Conf.</h1>
        <h2>Melbourne</h2>
        <p>June 5th, 2016 | General Assembly</p>
      </div>
    </div>
  </div>
</div>
