<div class="conference-info">
<div class="container">
<hr id="four" data-symbol="WDI Conf Details">
   <!-- grid container -->
  <div class="row" id="info-div"> <!-- row container -->
    <div class="one-half column">
      <h3>Our lovely location</h3>
      <p>WDI conf. will be held in the heart of Melbourne, at the General Assembly campus. There are an abundance of cafes, restaurants, shops around, and you'll be a stones throw away from the banks of the Yarra river.</p>
      <h3>Want to chat?</h3>
      <p>We would love to hear from you and talk through any questions you have about WDI conf.</p><br>
      <p>wdi-conf@ga.com</p>
      <h3>Sign up to our newsletter</h3>
      <p>All of the best WDI conf. info straight to your inbox!</p>
      <input type="text" name="name" value="">
      <button>Sign up</button>
    </div>

    <div class="one-half column map-container">
      <div id="map">
      </div>
    </div>
  </div> <!-- close of row container -->
</div>
<!-- close of grid container -->

</div>
<a href="#" class="scrollToTop"></a>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks&callback=initMap"></script>
