<div class="conference-info">
<div class="container">
<hr id="four" data-symbol="WDI Conf Details">
   <!-- grid container -->
  <div class="row" id="info-div"> <!-- row container -->
    <div class="one-half column">
      <h3>Our Lovely Location</h3>
      WDI Conf will be held in the world class facilities at General Assembly. A stones throw away from the banks of the Yarra river you'll be in the heart of Melbourne.</br></br>
      <h5>Want to chat?</h5>
      We would love to hear from you and talk through any questions you have about WDI conf.</br></br>
      <h5>Sign up to our newsletter</h5>
      All of the best WDI Conf info straight to your inbox!
      <input type="text" name="name" value="">
      <button class="btn">Sign up</button>
    </div>

    <div class="one-half column map-container">
      <div id="map">
      </div>
    </div>
  </div> <!-- close of row container -->
</div>
<!-- close of grid container -->

</div>
<a href="#" class="scrollToTop"></a>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY0K5l9hQeeAb90ir6ogbTbmxMyLIR6ks&callback=initMap"></script>
