<div class="container speakers">
  <h2>Speakers</h2>

  <div class="row">

    <div class="six columns left-speakers">
      <div class="one-third column">
      <img class="headshot u-max-full-width" src="http://placehold.it/150x150">
      </div>
      <div class="two-thirds column">
      <h3>Speaker Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatibus. Fuga enim vitae illum ullam perferendis nam vero nostrum quaerat atque suscipit ratione facere magnam, sapiente accusantium beatae omnis, quod!</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="six columns offset-by-six right-speakers">
        <div class="one-third column">
       <img class="headshot u-max-full-width" src="http://placehold.it/150x150">
       </div>
       <div class="two-thirds column">
       <h3>Speaker Name</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatibus. Fuga enim vitae illum ullam perferendis nam vero nostrum quaerat atque suscipit ratione facere magnam, sapiente accusantium beatae omnis, quod!</p>
       </div>
       
    </div>
  
  </div>

  <div class="row">

    <div class="six columns left-speakers">
      <div class="one-third column">
      <img class="headshot u-max-full-width" src="http://placehold.it/150x150">
      </div>
      <div class="two-thirds column">
      <h3>Speaker Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatibus. Fuga enim vitae illum ullam perferendis nam vero nostrum quaerat atque suscipit ratione facere magnam, sapiente accusantium beatae omnis, quod!</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="six columns offset-by-six right-speakers">
        <div class="one-third column">
       <img class="headshot u-max-full-width" src="http://placehold.it/150x150">
       </div>
       <div class="two-thirds column">
       <h3>Speaker Name</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatibus. Fuga enim vitae illum ullam perferendis nam vero nostrum quaerat atque suscipit ratione facere magnam, sapiente accusantium beatae omnis, quod!</p>
       </div>
       
    </div>
  
  </div>
  
  <div class="row">

    <div class="six columns left-speakers">
      <div class="one-third column">
      <img class="headshot u-max-full-width" src="http://placehold.it/150x150">
      </div>
      <div class="two-thirds column">
      <h3>Speaker Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatibus. Fuga enim vitae illum ullam perferendis nam vero nostrum quaerat atque suscipit ratione facere magnam, sapiente accusantium beatae omnis, quod!</p>
      </div>
    </div>

  </div>


</div>