<div class="speakers">
  <h2>Speakers</h2>

  <div class="row">

    <div class="six columns left-speakers">
      <div class="two columns">
      <img src="http://placehold.it/150x150">
      </div>
      <div class="four columns">
      <h3>Speaker Name</h3>
      </div>
    </div>


    <div class="six columns right-speakers">
        <div class="one-third column">
       <img src="http://placehold.it/150x150">
       </div>
       <div class="two-thirds column">
       <h3>Speaker Name</h3>
       </div>
       
    </div>
  
  </div>

</div>