<div class="speakers">
  <h2>Speakers</h2>

  <div class="row">

    <div class="six columns left-speakers">
      <div class="two-thirds column">
      <h3>Speaker Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores minima omnis sit, facere. Et eius nam consectetur, natus accusamus? Non, facilis explicabo deleniti tempora a nihil optio ipsam consequatur.</p>
      </div>
      <div class="one-third column">
      <img class="headshot" src="http://placehold.it/150x150">
      </div>
    </div>


    <div class="six columns right-speakers">
        <div class="one-third column">
       <img class="headshot" src="http://placehold.it/150x150">
       </div>
       <div class="two-thirds column">
       <h3>Speaker Name</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum possimus, quam, mollitia facilis odit molestiae ea accusantium soluta vero cum reprehenderit tempora modi excepturi quas at voluptatibus neque dicta praesentium.</p>
       </div>
       
    </div>
  
  </div>

</div>