<div class = "sponsors container">

  <% @sponsors.each do |sponsor| %>

    <div class="row">
      <div class="two columns offset-by-<%= ['one','three','five', 'seven'].sample %>">
        <img src="<%= sponsor.image_url %>" alt="">
      </div>
    </div>
  
  <% end %>

</div>
