<div class="timetable-container">

<div class="container">
  <hr id="four" data-symbol="TIME TABLE">
  <div class="row">

    <div class="one-half column">

      <table id="timetable">
        <thead>
          <tr>
            <th>Time</th>
            <th>What</th>
            <th>Where</th>
          </tr>
          <tr id="event1" class="event">
            <td>9AM</td>
            <td >Keynote: contributing to open source as a junior</td>
            <td>The main ballroom</td>
          </tr>
          <tr id="event2" class="event">
            <td >10AM</td>
            <td>You code like a girl. Good for you!</td>
            <td>The main ballroom</td>
          </tr>
          <tr id="event3" class="event">
            <td>11AM</td>
            <td>Keynote: contributing to open source as a junior</td>
            <td>The main ballroom</td>
          </tr>
          <tr id="event4" class="event">
            <td>2PM</td>
            <td>You code like a girl. Good for you!</td>
            <td>The main ballroom</td>
          </tr>
          <tr id="event5" class="event">
            <td>3PM</td>
            <td>Keynote: contributing to open source as a junior</td>
            <td>The main ballroom</td>
          </tr>

        </thead>
      </table>
    </div>

    <div class="one-half column">

      <div id="event-description">
        
      </div>

    </div>

  </div>
  <!-- end of row div -->
</div>
<!-- end of container div -->
</div>
<!-- end of timetable wrapper div -->






