<div class="container">
  <h2 id="sponsor-header">The Splice Girl(s)</h2>
    <div class="row">
      <div class="one-third column value">
        <h2 class="value-multiplier"><img src="LJ.png"></h2>
        <h5 class="value-heading">Karina</h5>
        <p class="value-description">Passionate and pole and programming.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">2</h2>
        <h5 class="value-heading">Isha</h5>
        <p class="value-description">Build strong brand relationships with attendees.</p>
      </div>
      <div class="one-third column value">
        <h2 class="value-multiplier">3</h2>
        <h5 class="value-heading">Pranati</h5>
        <p class="value-description">Have your brand recognised for their contributions.</p>
      </div>
    </div>
    <div class="row">
      <div class="six columns value">
        <h2 class="value-multiplier">4</h2>
        <h5 class="value-heading">Christie</h5>
        <p class="value-description">Passionate and pole and programming.</p>
      </div>
      <div class="six columns value">
        <h2 class="value-multiplier">5</h2>
        <h5 class="value-heading">LJ</h5>
        <p class="value-description">Build strong brand relationships with attendees.</p>
      </div>
    </div>
  </div>