<div class="container">
  <div class="tickets-container">

  <section class="accountInformation">
    <h1>WDI Conf Ticket Purchase</h1>
      <h4>Enter The Ticket Holder Details</h4>
    <ul>
      <li>
        <div class="col-span-50">
        <input type="text" id="acctFirstName" name="acctFirstName" placeholder="First Name" />
        </div>
        <div class="col-span-50">
        <input type="text" id="acctLastName" name="acctLastName" placeholder="Last Name" />
        </div>
      </li>
      <li>
        <div class="col-span-50">
        <input type="text" id="acctEmail" name="acctEmail" placeholder="Email" />
          </div>
        <div class="col-span-50">
        <input type="text" id="acctEmailConfirm" name="acctEmailConfirm" placeholder="Confirm Email" />
          </div>
      </li>
    </ul>
  </section>

  <section class="paymentInformation">
    <h3>Payment Information</h3>
    <ul>
      
      <li>
        <div class="col-span-100">
          <input type="text" id="nameOnCard" name="nameOnCard" placeholder="Name on Card" />
        </div>
      </li>
      <li>
        <div class="col-span-100">
          <input type="text" id="cardNumber" name="cardNumber" placeholder="Credit Card #" />
        </div>
      </li>
      
      <li>
        <div class="col-span-50">
          <select class="thickGrayDblBorder" id="expMonth" name="expMonth">
            <option value="-1">Expiration Month</option>
          </select>
        </div>
        <div class="col-span-50">
            <select class="thickGrayDblBorder"  id="expYear" name="expYear">
              <option value="-1">Expiration Year</option>
            </select>
        </div>
      </li>
      <li>
        <div class="col-span-50">
          <input type="text" id="securityCode" name="securityCode" placeholder="Security Code" />
        </div>
        <div class="col-span-50">
            <a href="#" class="smallPrint whatIsThis">What is this?</a>
            <img src="http://s.cdpn.io/6209/cc_Icon.png" />
        </div>
      </li>
      <p class="smallPrint col-span-100">
        Charge my credit card $12.00 total for the first 12 weeks of my Wall Street Journal subscription. Thereafter, service will continue and my credit card will be charged monthly at the prevailing rate, currently $26.99. Sales tax may apply. I will be notified in advance of any price increase. For questions about my subscription or to discontinue, I can call Customer Service at 1-800-JOURNAL (568-7625).
      </p>
    </ul>
  </section>
  
  <section class="billingAddress">
    <h3>Billing Address</h3>
    <ul>
      <li>
        <div class="col-span-33">
        <input type="text" id="billHouseNumber" name="billHouseNumber" placeholder="House #" /> 
        </div>
        <div class="col-span-66">
          <input type="text" id="streetName" name="streetName" placeholder="Street Name" />
        </div>
        </li>
      <li>
        <div class="col-span-100">
          <input type="text" id="billCity" name="billCity" placeholder="City" />
        </div>
      </li>
      <li>
        <div class="col-span-50">
        <select id="billState" class="thickGrayDblBorder" name="billState">
          <option value="-1">State</option>
        </select>
        </div>
        <div class="col-span-50">
        <input type="text" id="billZip" name="billZip" placeholder="Zipcode" />
        </div>
        </li>
    </ul>
  </section>

  <section class="emailUpdates">
    <h3>Email Updates</h3>
    <ul>
      <li>
        <div class="col-span-100">
          <input class="overRide-noHeight" type="checkbox" id="chkReceiveUpdates" name="chkReceiveUpdates" value="1" checked="checked"/>
          <label class="overRide-floatRight" for="chkReceiveUpdates">Receive updates and special offers from Dow Jones.</label>
        </div>
        </li>
      <li>
        <div class="col-span-100">
          <input type="submit" class="btn" id="btnComplete" name="btnComplete" value="Complete Purchase »" />
        </div>
        </li>
      <li>
        <div class="col-span-100 smallPrint">
        <p>*Introductory pricing is only available to households or customers at a business address who have not been subscribers to The Wall Street Journal within the last 180 days.</p>
        <p>Please note that your subscription will renew automatically unless you cancel prior to renewal.</p>
        <p>Our secure server software encrypts information to protect your transaction.</p>
        </div>
      </li>
    </ul>
  </section>
  
</div>




  <div class="tickets-container">
    <h1>Buy a ticket for WDI6 Conf.</h1>
    <h3>Total: $<span id="amount">200</span></h3>

    <form action="/tickets/submit" method="post" id="payment-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <h2>Your information</h2>
        <label for="">First name</label>
        <input type="text" name="firstname" value="" minlength="2">
        <label for="">Last name</label>
        <input type="text" name="lastname" value="" minlength="2">
        <label for="">Email</label>
        <input type="email" name="email" value="">
        <label for="">Number of Tickets</label>
        <select id='num_of_tickets'></select>​

        <!-- modal -->
    <div id="processing-notice" class="modal">
      <div class="modal-content">
        <p>Please Wait while we are processing you details ...</p>
      </div>
    </div>

      <h2>Payment information</h2>

      <span class="payment-errors"></span>

        <label>Card Number</label>
        <input type="text" size="20" data-stripe="number">

        <label>Expiration (MM/YY)</label>
        <input type="text" size="2" data-stripe="exp_month">
        <span> / </span>
        <input type="text" size="2" data-stripe="exp_year">

        <label>CVC</label>
        <input type="text" size="4" data-stripe="cvc">

        <input id="submit-payment-btn" type="submit" class="submit" value="Submit Payment">
    </form>
  </div>
  <div class="footer">Made with <strong>girl power</strong> for WDI6.</div>
</div>




<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    $(function(){
      var $select = $(".1-10");
      for (i=1;i<=10;i++){
          $('#num_of_tickets').append($('<option></option>').val(i).html(i));
          console.log('jhkn');
      }
    });
    $("#num_of_tickets").change(function(){
        $('#amount').html($(this).val()*200);
    });
    Stripe.setPublishableKey('pk_test_r8NTA6dpseAgBXLp56mMQgGA');
</script>
