<h1>Buy a ticket for WDI6 Conf.</h1>
<h3>Total: $<span id="amount">200</span></h3>

<form action="/tickets/submit" method="post" id="payment-form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h2>Your information</h2>
    <label for="">First name</label>
    <input type="text" name="firstname" value="" minlength="2">
    <label for="">Last name</label>
    <input type="text" name="lastname" value="" minlength="2">
    <label for="">Email</label>
    <input type="email" name="email" value="">
    <label for="">Number of Tickets</label>
    <select id='num_of_tickets'></select>​

    <!-- modal -->
<div id="processing-notice" class="modal">
  <div class="modal-content">
    <p>Please Wait while we are processing you details ...</p>
  </div>
</div>

  <h2>Payment information</h2>

  <span class="payment-errors"></span>

    <label>Card Number</label>
    <input type="text" size="20" data-stripe="number">

    <label>Expiration (MM/YY)</label>
    <input type="text" size="2" data-stripe="exp_month">
    <span> / </span>
    <input type="text" size="2" data-stripe="exp_year">

    <label>CVC</label>
    <input type="text" size="4" data-stripe="cvc">

    <input id="submit-payment-btn" type="submit" class="submit" value="Submit Payment">
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    $(function(){
      var $select = $(".1-10");
      for (i=1;i<=10;i++){
          $('#num_of_tickets').append($('<option></option>').val(i).html(i));
          console.log('jhkn');
      }
    });
    $("#num_of_tickets").change(function(){
        $('#amount').html($(this).val()*200);
    });
    Stripe.setPublishableKey('pk_test_r8NTA6dpseAgBXLp56mMQgGA');
</script>
