body {
  margin: 0 auto;
}

.hero-background {
  width: 100%;
  background: -webkit-linear-gradient(left top, $dark-color, $darkest-color) no-repeat;
}

.hero-container {
    display: flex;
    flex-wrap: wrap-reverse;
    position:relative;
    width:70%;
    margin-top: 6em !important;
    height:600px;
    color: white;
    margin: auto;
}

.chart-wrapper {
  position: relative;
}

#progresschart {
  width: 300px;
  height: 300px;
  position: absolute;
}

#inside-text {
  display: inline;
  position: absolute;
  left: 13%;
  top: 26%;
}

#inside-text a {
  color: $feature-color
}

#inside-text a:hover {
  color: $light-color
}

.marker {
  font-family: 'Permanent Marker', cursive;
  color: $feature-color;
}

.feature {
  color: $light-color;
}

// custom media queries

@media (max-width: 767px) {
  .chart-wrapper {
    position: absolute;
    left: -20%;
  }
}

@media (max-width: 549px) {
  .chart-wrapper {
    position: absolute;
    top: 48%
  }
}
