.hero-container {
    position:relative;
    width:100%;
    height:600px;
    background: -webkit-linear-gradient(left top, $dark-color, $darkest-color) no-repeat;
    color: white;
}

.header-info {
  position: absolute;
  top: 25vh;
  right: 0;
}

.chart-wrapper {
  position: relative;
  top: 10vh;
}


#progresschart {
  position: absolute;
  margin: 20px;
  width: 300px;
  height: 300px;
}

#funded {
  position: absolute;
  bottom: 145px;
  left: 94px;
}

#inside-text {
  position: absolute;
  bottom: 117px;
  left: 43px;
}

#info-link {
  position: absolute;
  bottom: 90px;
  left: 66px;
}

.marker {
  font-family: 'Permanent Marker', cursive;
  color: $feature-color;
}

.feature {
  color: $light-color;
}
