.speakers-container {
  padding-top: 1px;
}

.headshot {
  border-radius: 50%;
}

.headshot:hover {
  transform: translateY(0.3em);
}

.speakers {
  h4 {
    text-align: center;
  }
}

.talk {
  font-weight: bold;
}

.description {
  padding-top: 12%;
}

.come-in-left {
  transform: translateX(-170px);
  animation: come-in 1s ease forwards;
}

.come-in-right {
  transform: translateX(170px);
  animation: come-in 1s ease forwards;
}


@keyframes come-in {
  to { transform: translateX(0); }
}
