.speakers-container {
  padding-top: 1px;
}

.headshot {
  width: 150px;
  border-radius: 50%;
}

.headshot:hover {
  transform: translateY(0.3em);
}



.talk {
  font-weight: bold;
}

.description {
  padding-top: 12%;
}

.come-in-left {
  transform: translateX(-170px);
  animation: come-in 1s ease forwards;
}

.come-in-right {
  transform: translateX(170px);
  animation: come-in 1s ease forwards;
}


@keyframes come-in {
  to { transform: translateX(0); }
}

@media (max-width: 400px) {
  .come-in-left {
    transform: none;
    animation: none;
  }

  .come-in-right {
    transform: none;
    animation: none;
  }

}
