
.sponsors-container {
    position:relative;
    top:0px;
    width:100%;
   /* height:520px;*/
    background-color:#EAD1CE;
    // z-index:100;
    text-align: center;
  }

.sponsors { 
  h2 {
   margin-top: 15%; 
  } 
}

.top-sponsor {
  img { 
    display: block;
    margin: 0 auto;
  }
}

.top-offset {
  padding-top: 250px;
}



.second-row-sponsors {
  img {
    vertical-align: middle;
    display: inline-block;
  }
}

.other-sponsors {
  img {
    vertical-align: middle;
    padding: 2%;
    display: inline-block;
  }
}