.sponsors-container {
    position:relative;
    top:0px;
    width:100%;
    height:520px;
    background-color:#EAD1CE;
    // z-index:100;
    text-align: center;
  }

.top-sponsor {
  img { 
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    width: 300px;
    height: auto;
    opacity: 0.8;
  }
}

.top-offset {
  padding-top: 250px;
}

img {
  height: auto;
  width: 200px;
}

.second-row-sponsors {
  img {
    padding-top: 3%;
    width: 200px;
    height: auto;
    opacity: 0.5;
    display: inline-block;
  }
}