.sponsorship-container {
  background: #EAD1CE;
  padding: 2em;
  width: 75%;
  min-width: 25em;
  margin: 20px auto;
  border: 3px solid #B97375;
  box-shadow: 0 1em 0.5em rgba(0,0,0,0.2);
  color: white;
  border-radius: 0.5em;
}

.value-multiplier {
  color: white;
}
          
.value-heading {
  color: white;
}

.value-description {
  color: white;
}