.sponsorship-container {
  background: #EAD1CE;
  padding: 2em;
  width: 75%;
  min-width: 25em;
  margin: 20px auto;
  border: 3px solid #B97375;
  box-shadow: 0 1em 0.5em rgba(0,0,0,0.2);
  color: white;
  border-radius: 0.5em;
  flex: 1;
}

.value-multiplier {
  color: white;
text-shadow: 4px 4px 2px rgba(45, 0, 27, 1);
}
          
.value-heading {
  color: white;
text-shadow: 4px 4px 2px rgba(45, 0, 27, 1);
}

.value-description {
  color: white;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}