.sponsors { 
  h2 {
   margin-top: 15%; 
  } 
}


.top-sponsor {
  img { 
    display: block;
    margin: 0 auto;
  }
}

.second-row-sponsors {
  img {
    padding: 3%;
    display: inline-block;
  }
}

.other-sponsors {
  img {
    padding: 3%;
    display: inline-block;
  }
}

