.timetable-container {
   color: white;
 }

.selected-event {
  color: $darkest-color;
  background-color: $light-color;
}

#event-description {
  margin-top: 47px;
  background-color: $light-color;
  color: $darkest-color;
  height: 368px;
}

#timetable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.fade-in {
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
