#background-gradient {
    background: linear-gradient(#EAD1CE, #B97375, #402238);
}

// Headers -----------> 

$feature-color: #F26A62;

$dark-color: #402238;

$darkest-color: #1B1421;

$mid-color: #B97375;

$light-color: #EAD1CE;

// body {
//   color: $primary-color;
//   background-color: $primary-color;
// }