$feature-color: #F26A62;

$light-color: #EAD1CE;

$mid-color: #B97375;

$dark-color: #402238;

$darkest-color: #1B1421;


#background-gradient {
    background: linear-gradient(#EAD1CE, #B97375, #402238);
}


hr {
  // height: 3px;
  background: white;
  // border: none;
  outline: none;
  // margin-top: 3em 3em 5em;
  position: relative;
  border-top: 3px solid #FFFFFF;
}
hr:before {
  content: attr(data-symbol);
  position: absolute;
  top: 0;
  left: 50%;
  background: #F26A62;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  padding: 0.5em 3em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr#four:before {
  border: 3px solid white;
}



body {
  background: #402238;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;

}

// .colly1 {
//   background-color: red;
// }

// .colly2 {
//   background-color: yellow;
// }

// .colly3 {
//   background-color: blue;
// }

// For Images -------------->

.border {

  border: 3px solid #fff;

}

/* General button style (reset) */
.btn {
  border: none;
  font-family: Roboto;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;

}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


/* Button 1 */
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: #FFFFFF;
  background: #F26A62;
  text-decoration: none;
}

/* END General button style (reset) */

footer {
  color: $light-color;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $darkest-color;
}
