$feature-color: #F26A62;

$light-color: #EAD1CE;

$mid-color: #B97375;

$dark-color: #402238;

$darkest-color: #1B1421;


body {
  background: #402238;

}

#background-gradient {
    background: linear-gradient(#EAD1CE, #B97375, #402238);
}

// Divider line

a {
  text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


hr {
  background: white;
  outline: none;
  position: relative;
  border-top: 3px solid #FFFFFF;
}
hr:before {
  content: attr(data-symbol);
  position: absolute;
  top: 0;
  left: 50%;
  background: #F26A62;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  padding: 0.5em 3em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr#four:before {
  border: 3px solid white;
}

body {
  background: #402238;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;

}

// For Images -------------->

.border {

  border: 3px solid #fff;

}

/* Master Button Style */
.btn {
  font-family: Roboto;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  border: 3px solid #fff;
  color: #fff;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #FFFFFF;
  background: #F26A62;
  text-decoration: none;
}

/* END General button style  */

/* FORMS */

[type=text] {
  display: block;
  margin: 0 auto;
  width: 80%;
  outline: none;
  border: 3px;
  border-color: #281E30;
}

[type='text']:focus {
  outline: none;
  border-color: #F26A62;
}

/* End Form */

footer {
  color: $light-color;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $darkest-color;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
