
  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h2>WDIConf16</h2>
        <p>Here is the index page baby.</p>
      </div>
    </div>
  </div>

<!-- End Document -->
